{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/flower.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="main_img">
        <img class="img" id="img" src="{% static 'pictures/香水卡片-喜.png' %}" alt="">

        <div class="submit"><a href="{% url 'bigscreen' %}" class="aaa2"></a></div>
    </div>

    <script>
        // 从后端传递的 user_mood 变量渲染到 JavaScript 中
        let output = "{{ request.session.user_mood }}";  // 确保使用双引号包裹模板变量，防止格式错误

        // 在页面加载时执行图片替换函数
        window.onload = function() {
            replaceImageSrcBasedOnOutput(output);
        };

        // 根据输出值替换图片
        function replaceImageSrcBasedOnOutput(output) {
            var image = document.getElementById("img");
            if (image) {
                switch (output) {
                    case "忧":
                        image.src = "{% static 'pictures/香水卡片-忧.png' %}";
                        break;
                    case "喜":
                        image.src = "{% static 'pictures/香水卡片-喜.png' %}";
                        break;
                    case "思":
                        image.src = "{% static 'pictures/香水卡片-思.png' %}";
                        break;
                    case "怒":
                        image.src = "{% static 'pictures/香水卡片-怒.png' %}";
                        break;
                    case "恐":
                        image.src = "{% static 'pictures/香水卡片-恐.png' %}";
                        break;
                    default:
                        // 如果没有匹配的情绪，保持默认图片
                        image.src = "{% static 'pictures/香水卡片-喜.png' %}";
                }
            }
        }
    </script>
</body>
</html>
